/* - White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%) */


*{
    margin: 0;
    box-sizing: border-box
}

body{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    width: 375px;
    display: flex;
    flex-direction: column;
}

/* Header */

.backgroundDisplay{
    background: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    height:225px ;
    display: flex;
    flex-direction: column;
}

.backOfCard{
    margin-top: 35px;
    margin-left: 75px;
    display: flex;
}

.cvcNumbers{
    z-index: 1;
    position: absolute;
    margin-top: 65px;
    margin-left: 213px ;
}

.cvcNumbersData{
    color: white;
    font-size: 12px;
    font-weight: 300;
}

/* front of card */

.frontOfCard{
    z-index: 1;
    margin-top: -66px;
    margin-left: 5%;
    width: 270px;
    display: flex;
    flex-direction: column;
}

.circles{
    margin: 15px;
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-top: -136px;
}

.bigCircle{
    width: 30px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 50%;
}

.smallCircle{
    border: 1px solid white;
    color: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 10px;
}

.longCardNumber{
    margin: 20px auto 10px;
}

.longCardNumber h3{
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 300;
}

.cardDetails{
    margin: auto;
    padding: 5px;
    width: 100%;
    display: flex;
    flex: row;
    justify-content: space-between;
}

.frontCardText{
    font-size: 9px;
    font-weight: 300;
    color: white;
    margin: 5px 15px;
}

/* form */
.form_section{
    margin-top: 20%;
}

.form_details{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.input{
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 15px;
    margin: 10px 0px;
}
::placeholder{
    color: hsl(270, 3%, 87%);
    font-family: 'Space Grotesk', sans-serif;
}
.formTitleText{
    margin-top: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: hsl(278, 68%, 11%);
    letter-spacing: 2px;
}
.smallerInputFieldArea{
    display: flex;

}
.cardDateInputSection{
    width: 90%;
}
.expDateYear, .expDateMonth{
    width: 45%;
}
.cvc{
    width: 100%;
}
.confirm-btn{
    padding: 20px;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 0%, 100%) ;
    background-color:hsl(278, 68%, 11%) ;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.confirm-btn:hover, .confirm-btn:focus {
    background-color: blueviolet;
}
.error{
    font-size: 0.5rem;
    color: orangered;
    font-family: 'Space Grotesk', sans-serif;
}
#cardHolder-error, #cardNumber-error, #exp-error, #cvc-error{
    display: none;
}


@media only screen and (min-width: 375px) {
    
    .container{
        min-width: 376px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
/* Header */
    .backgroundDisplay{
        background: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backOfCard img, .frontOfCard img{
        width: 450px;
    }

    .backOfCard{
       margin-left: 490px ;
       /* margin-top: 100px; */
    }

    .cvcNumbers{
        margin-top: 110px;
        margin-left: 365px;
        font-size: 16px;
    }

    .frontOfCard{
        width: 450px;
        margin-left: 190px;
        margin-top: -550px;
    }

    .circles{
        margin-top: -226px;
    }

    .bigCircle{
        width: 45px;
        height: 45px;
    }
    .smallCircle{
        margin-top: 11px;
        width: 22px;
        height: 22px;
    }
    .longCardNumber{
        margin-top: 55px;
    }
    .longCardNumber h3{
        font-size: 30px;
    }
    .cardDetails{
        width: 450px;
        margin: 0px;
        padding: 20px 40px 0px;
    }

    .cardDetails h3{
        margin: 0;
        font-size: 14px;
    }

/* form section */

    .form_section{
        margin: 0 200px;
        min-width: 380px;
        max-width: 380px;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .form_details{
        min-width: 300px;
        padding: 10px;
    }
  }